name: Docker Image Mirror

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    environment: default
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Pull the Docker Images
      run: docker pull gcr.io/ml-pipeline/api-server:2.0.0-alpha.3
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Tag the Docker Images
      run: docker tag gcr.io/ml-pipeline/api-server:2.0.0-alpha.3 docker.io/${{ secrets.DOCKERHUB_USERNAME }}/gcr.io\/ml-pipeline\/api-server:2.0.0-alpha.3
    - name: Push the Docker Images
      run: docker push docker.io/${{ secrets.DOCKERHUB_USERNAME }}/gcr.io\/ml-pipeline\/api-server:2.0.0-alpha.3
