name: Docker Image Mirror

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    environment: default
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Pull the Docker Images
      run: cat docker-images.list | while read line; do docker pull ${line}; done
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Tag the Docker Images
      run: cat docker-images.list | while read line; do docker tag ${line} docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${line//\//}; done
    - name: Push the Docker Images
      run: cat docker-images.list | while read line; do docker push docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${line//\//}; done
